# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# OS
.DS_Store
Thumbs.db

# Python tooling
.ipynb_checkpoints/
.pytype/
.mypy_cache/
pytest_cache/
.coverage
htmlcov/

# Build & dist
build/
dist/
*.egg-info/

# App artifacts
runs/
models/
*.json
clusters.csv
clusters_coords.csv
wisdom_clusters.json

# Streamlit
.streamlit/
